div.studentCA{
    /* background-color: #EBEBEB; */
    height: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    transition: ease 0.5s;
}

.studentCA:hover{
    filter: brightness(115%);
}

div#studentsCA{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    /* margin: 10px; */
    padding: 10px;
    transition: ease 1s;
}

.present{
    background-color: #62b562;
}
.absent{
    background-color: #dd6d6d;
}
.default{
    background-color: #EBEBEB;
}

.Attendance{
    margin: 10px;
}
.Attendance{
    border-radius: 18px;
    border: none;
    padding: 10px;
}
button.Attendance:hover{
    filter: brightness(80%);
}