@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #B5C6F1;
}
img.background{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
    z-index:-3;
}
img.accent{
    object-fit: cover;
    width: 300px;
    margin-bottom: 20%;
}

div.pattern{
    display: block;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
  
    background-image: url("../islamicgeo.png");

    z-index: -2;
} 
div.tint{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: #B5C6F1;
    opacity: .5;
    z-index: -1;
}
div.loginbox{
    background: #0D3962;
    border-radius: 25px;
    padding: 20px; 
    width: 400px;
    height: 600px; 
    text-align: center;
    color: white;
    z-index: 1;
    transition: ease all .5s;
    transition-delay: 250ms;
}
/* div.logo{
    background-color: #0D3962;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background-image: url("madrasalogo.png");
    display: block;
    background-position:50% 50%;
    background-repeat:no-repeat;    
    grid-area:logo;
    transition: ease all .5s;
} */
div.parent{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input.txt{
    border-radius: 15px;
    border: none;
    margin-bottom: 10%;
    box-sizing: border-box;
    height: 30px;
    padding: 15px;
}
input.txt:hover{
    /* border : #B5C6F1; */
    box-shadow: 0 0 5px #B5C6F1;
    border: 1px solid #B5C6F1;

}
label.inputlabel{
    margin: 5px;
    text-align: left;
    margin-bottom: 100px;
}
form.loginform{
    text-align: center;
    z-index: 3;
}
div h1{
    z-index: 3;
    margin-top: 30px;
}
input.submit{
    border-radius: 18px;
    outline: none;
    border: none;
    width: 70px;
    height: 20px;
}
input.submit:hover{
    color: white;
    background-color: #414141;
}
a{
    color: rgb(178, 178, 178);
}
a:hover{
    color: rgb(119, 119, 119);
}

@media only screen and (max-width: 700px){
    div.parent{
        grid-template-columns: .25fr .5fr .25fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "spacer login spacer";
    }
    div.loginbox{
        height: 100vh;
        width: 100vh;
    }
    body{
        background-color: #0D3962;
    }
}


