@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #B5C6F1;

}
img.background{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
    z-index:-3;
    /* transition: ease all .5s; */
}
img.accent{
    object-fit: cover;
    width: 300px;
    margin-bottom: 20%;
}

div.pattern{
    display: block;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    /* transition: ease all .5s; */
  
    background-image: url("islamicgeo.png");
    /* background-repeat: repeat;
    background-size: 50%; 
    opacity: .2; */
    z-index: -2;
} 
div.tint{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: #B5C6F1;
    opacity: .5;
    z-index: -1;
}
div.loginbox{
    /* margin-top: 150px;
    margin-left: 150px; */
    background: #0D3962;
    border-radius: 25px;
    /* background: #73AD21; */
    padding: 20px; 
    width: 400px;
    height: 600px; 
    text-align: center;
    color: white;
    grid-area:login;
    z-index: 1;
    transition: ease all .5s;
    transition-delay: 250ms;
}
/* div.logo{
    background-color: #0D3962;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background-image: url("madrasalogo.png");
    display: block;
    background-position:50% 50%;
    background-repeat:no-repeat;    
    grid-area:logo;
    transition: ease all .5s;
} */
div.parent{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 4fr; */
    /* grid-column-gap: 1em; */
    grid-template-areas: 
    "login logo spacer";
    /* margin-top: 50px; */    
}
input.txt{
    border-radius: 15px;
    border: none;
    margin-bottom: 10%;
    box-sizing: border-box;
    height: 30px;
}
label.inputlabel{
    margin: 5px;
    text-align: left;
}
form.loginform{
    text-align: center;
    z-index: 3;
}
div h2{
    z-index: 3;
    font-size: 40;
}

@media only screen and (max-width: 853px){
    div.parent{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "login";
    }
    div.loginbox{
        height: 100vh;
        width: 100vh;
    }
    /* /* div.logo{
        visibility: hidden;
    } */
    /* div.tint{
        visibility: hidden;
    }  */
    /* img.background{visibility: hidden;} */
    /* div.pattern{z-index: 2;} */
    body{
        background-color: #0D3962;
    }
}


