@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #B5C6F1;

}
img.background{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
    z-index:-3;
}
img.accent{
    object-fit: cover;
    width: 300px;
    margin-bottom: 20%;
}
img.logo{
    margin-left: 30%;
    margin-top: 10%;
    width: 120%;
}
div.pattern{
    display: block;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
  
    background-image: url("islamicgeo.png");
    /* background-repeat: repeat;
    background-size: 50%; 
    opacity: .2; */
    z-index: -2;
} 
div.tint{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: #B5C6F1;
    opacity: .5;
    z-index: -1;
}
div.loginbox{
    margin-top: 150px;
    margin-left: 150px;
    background: #0D3962;
    border-radius: 25px;
    /* background: #73AD21; */
    padding: 20px; 
    width: 400px;
    height: 600px; 
    text-align: center;
    color: white;
}
div.parent{
	display: flex;
}
input.txt{
    border-radius: 15px;
    border: none;
    margin-bottom: 10%;
    box-sizing: border-box;
    height: 30px;
}
label.inputlabel{
    margin: 5px;
    text-align: left;
}
form.loginform{
    text-align: center;
}
div h2{
    font-size: 40;
}
